.Main{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    

    &-about{
        margin-top: 20px;
        img{
            width: 240px;
            height: 240px;
            border-radius: 50%;
        }

        &-title{
            margin-top: 30px;

            h3{
                padding-bottom: 10px;
            }

            h4{
                padding-bottom: 30px;
            }
            button{
                width: 100%;
                height: 36px;
                border: 1px solid rgba(27,31,35,.2);
                background: none;
                background-color: #eff3f6;
                background-image: linear-gradient(-180deg,#eff3f6 90%);
                border-radius: 3px;
                margin-top: 15px;
            }
        }

        &-dsc{
            margin-top: 16px;
            padding-right: 4px;
            padding-top: 5px;
            
    
            p{
                padding-top: 6px;
                height: 36px;
                font-size: $my-font;

                svg{
                    display: inline-block;
                    align-items: center;
                    justify-content:space-between;
                    padding-top: 8px;

                }
                
                
            }
        }
    }
    &-projects{
        width: 100%;
        margin-top: 40px;
        margin-left: 40px;

        &-links{
            display: flex;
            justify-content: space-between;

            a{
                color: #586069;
                font-size:18px;

                svg{
                    display: inline-block;
                    align-items: center;
                    justify-content:space-between;
                    padding-top: 5px;
                }
            }
        }
        .Section{
            display: flex;
            margin-top: 30px;
            justify-content: space-between;
            font-size: $my-font;
            color: #090505;
           

            a{
                
                color: #586069;

            }

        }

        .container{
            display: flex;
            flex-wrap: wrap;
        }
        &-bar{
            margin-top: 20px;
            margin-right: 10px;
            padding: 10px;
            border: 1px solid #000;
            width: 450px;
            position: relative;
            height: 100px;

            .up{
                display: flex;
                padding: 2px 3px;

                .right{
                    svg{
                       position: absolute;
                       right: 10px; 
                       
                    }
                }
            }

            .down{
                margin-top: 40px;
                margin-left: 10px;
                display: flex;
                align-items: center;

                span{
                    background-color: #4f199f;
                    height: 12px;
                    width: 12px;
                    border-radius: 50%;
                    display: inline-block;
                    padding-right: 2px;

                }
                
                p{
                    font-size: 14px;
                    padding-left: 3px;
                }
            }
        }

    }
}